<div class="section-container section-result quiz-main-container quiz-18" style="display: none;">
      <div class="s-wrap">
        <div class="s-part container">
            <div class="s-part__inner s-title">
              <div id="question-title" class="s-ttl h2">YOU ARE ONE STEP AWAY FROM YOUR RESULTS!</div>
            </div>
        </div>

        <div class="s-part container">
          <form method="post" action="/contact#footer-newsletter" id="footer-newsletter" accept-charset="UTF-8" class="Footer__Newsletter Form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓"><input type="hidden" id="newsletter_tagging" name="contact[tags]" value="newsletter">
            <input type="email" name="contact[email]" id="skin_id_email" class="Form__Input" aria-label="Enter your email address" placeholder="Enter your email address" required="">
            <input type="hidden" id="skinid_note" value="" name="contact[note]" class="skinid_note Form__Input" required="">
            <input type="hidden" id="contact_skinid_firstname" name="contact[first_name]" class="Form__Input" required="">
            <input type="hidden" id="contact_skinid_lastname" name="contact[last_name]" class="Form__Input" required="">
            <button onclick="saveSessionStorage()" type="submit" class="Form__Submit Button Button--primary Button--full">Submit</button>
          </form>
        </div>

      </div>

</div>

{%- comment %}

{% endcomment -%}
<div class="section-container section-result quiz-main-container quiz-19" style="display: none;">
      <div class="s-wrap">
        <div class="s-part container">
            <div class="s-part__inner s-title">
              <div id="question-title" class="s-ttl h2">Your skin problems</div>
            </div>
        </div>

        <div class="s-part container">
          <div class="s-list">
            <div class="s-list__item">
                <div class="item-pic-1" id="r-serum-1-pic"><img src="" alt=""></div>
                <div class="item-descr">
                    <div class="item-descr__ttl" id="r-serum-1-ttl"></div>
                    <div class="item-descr__txt" id="r-serum-1-txt"></div>
                </div>
            </div>
            <div class="s-list__item">
                <div class="item-pic-2" id="r-serum-2-pic"><img src="" alt=""></div>
                <div class="item-descr">
                    <div class="item-descr__ttl" id="r-serum-2-ttl"></div>
                    <div class="item-descr__txt" id="r-serum-2-txt"></div>
                </div>
            </div>
            <div class="s-list__item">
                <div class="item-pic-3" id="r-serum-3-pic"><img src="" alt=""></div>
                <div class="item-descr">
                    <div class="item-descr__ttl" id="r-serum-3-ttl"></div>
                    <div class="item-descr__txt" id="r-serum-3-txt"></div>
                </div>
            </div>
          </div>

        </div>
      </div>
      <div class="s-wrap">
        <div class="s-part container"><div class="s-part__inner s-title"><div class="s-subttl">Results</div><div id="result-dose-title" class="s-ttl h2">Your Daily Dose</div></div></div>

        <div class="s-part container section-result">
          <div class="s-part__inner">
              <div class="s-list-dose d-flex-block">
                  <div class="s-list__item">
                      <div class="item-pic" id="dose-1-pic"><img src="" alt=""></div>
                      <div class="item-descr">
                          <div class="item-descr__ttl" id="dose-1-ttl"></div>
                          <div class="item-descr__txt" id="dose-1-txt"></div>
                      </div>
                  </div>
                  <div class="s-list__plus"></div>
                  <div class="s-list__item">
                      <div class="item-pic" id="dose-2-pic"><img src="" alt=""></div>
                      <div class="item-descr">
                          <div class="item-descr__ttl" id="dose-2-ttl"></div>
                          <div class="item-descr__txt" id="dose-2-txt"></div>
                      </div>
                  </div>
                  <div class="s-list__plus"></div>
                  <div class="s-list__item">
                      <div class="item-pic" id="dose-3-pic"><img src="" alt=""></div>
                      <div class="item-descr">
                          <div class="item-descr__ttl" id="dose-3-ttl"></div>
                          <div class="item-descr__txt" id="dose-3-txt"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="s-wrap">
        <div class="s-part container" style="justify-content: center;">
          <div class="s-list-does d-flex-block medium-up--p-l-30">
            <div class="ic2-icon-equal m-t-25">
              <div class="absolute transform-center ">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Rectangle</title>
                    <defs>
                        <path d="M19.144,11.496 L19.144,9 L7,9 L7,11.496 L19.144,11.496 Z M19.144,16.728 L19.144,14.232 L7,14.232 L7,16.728 L19.144,16.728 Z" id="path-1"></path>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="=" fill-rule="nonzero">
                            <use fill="#3D4246" xlink:href="#path-1"></use>
                            <use fill="#FFFFFF" xlink:href="#path-1"></use>
                        </g>
                    </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="s-wrap m-t-0" style="margin-top: 0;">
        <div class="s-part container section-result">
          <div class="s-part__inner">

            <div class="s-list-dose d-flex-block" style="justify-content: center;">
              <div class="s-list__item mobile-block">
                <div class="product-pic text-center"><img style="max-height: 175px; max-width: 175px;" id="bottle-pic" data-vid="18843387592800" src="{{ 'mdd_pink.png' | asset_img_url: 'x300', scale: 2}}" alt="product"></div>
                <div class="product-name">
                    <div class="product-name__ttl" id="product-name-ttl">MY DAILY DOSE CUSTOM BLENDED SERUM COCKTAIL</div>
                    <div class="product-name__txt" id="product-short-description">A serum created and customized by you.</div>
                </div>
                <div class="product-price">
                  <div class="product-price__ttl" id="product-price__ttl">3 X 10ml</div>
                </div>

                <div class="form-group">
                  <label class="form-name">Bottle colour:</label>
                  <div class="checkbox-color" id="color-boxes">
                        <label class="color-box">
                            <input id="color-box-35" data-vid="18843391819872" data-url="{{ 'mdd_green.png' | asset_img_url: 'x300', scale: 2}}" type="radio" name="color" value="35">
                            <div style="background-color: #B9DB91;" class="box-view"></div>
                        </label>
                        <label class="color-box">
                            <input id="color-box-34" data-vid="18843387002976" data-url="{{ 'mdd_blue.png' | asset_img_url: 'x300', scale: 2}}" type="radio" name="color" value="34">
                            <div style="background-color: #76C8EB;" class="box-view"></div>
                        </label>
                        <label class="color-box">
                            <input id="color-box-38" data-vid="18843386740832" data-url="{{ 'mdd_orange.png' | asset_img_url: 'x300', scale: 2}}" type="radio" name="color" value="38">
                            <div style="background-color: #F8BE83;" class="box-view"></div>
                        </label>
                        <label class="color-box">
                            <input id="color-box-36" data-vid="18843386216544" data-url="{{ 'mdd_turquoise.png' | asset_img_url: 'x300', scale: 2}}" type="radio" name="color" value="36">
                            <div style="background-color: #C8E8E9;" class="box-view"></div>
                        </label>
                        <label class="color-box">
                            <input id="color-box-37" data-vid="18843387592800" data-url="{{ 'mdd_pink.png' | asset_img_url: 'x300', scale: 2}}" type="radio" name="color" value="37">
                            <div style="background-color: #F273B9;" class="box-view"></div>
                        </label>
                        <label class="color-box">
                            <input id="color-box-39" data-vid="18843387658336" data-url="{{ 'mdd_yellow.png' | asset_img_url: 'x300', scale: 2}}" type="radio" name="color" value="39">
                            <div style="background-color: #FEF585;" class="box-view"></div>
                        </label>
                    </div>

                </div>
                <button onclick="addAll()" type="button" name="button" class="btn-bag btn m-t-15">Add to Bag</button>
              </div>
            </div>
          </div>
        </div>


      </div>
</div>
</div>
