<div class="product-card award">
  {%- include 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: product.featured_image -%}
  {%- assign image_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <a href="{{product.url}}" class="product-image">
    <img class="ProductItem__Image Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.featured_image.alt | escape }}" data-image-id="{{ product.featured_image.id }}">
    <span class="Image__Loader"></span>
  </a>
  <div class="caption">
    <div>
      <h4>
        {% if product.metafields.meta contains "subtitle" %}
        <small>{{ product.metafields.meta.subtitle | escape }}</small>
        {% endif %}
        {{ product.title | escape }}
      </h4>
      <br />
      <a class="Link Link--underline" href="{{product.url}}">Shop Now</a>
    </div>
  </div>
</div>
