<input type="hidden" value="{{cart.total_price | money_without_currency}}" id="cart_price">
<input type="hidden" value="{{settings.cart_shipping_min}}" id="cart_min_price">

{% assign __aa = settings.cart_shipping_min | times: 100 %}
{% assign _ans = __aa | minus: cart.total_price | divide_by: 100 %}

<h4 class="below100percent"><span style="display: inline;"><span data-money-convertible data-currency-{{shop.currency}}="{{_ans | money_with_currency }}" style="display: inline;" class="ship_price Price">{{_ans | money }}</span> </span>{{settings.cart_normal_msg}}</h4>
<h4 class="fullpercent" style="display:none;">{{settings.cart_success_msg}}</h4>
<div class="cartshippingprogressbar" id="cartshippingprogressbar"></div>
