<section class="section spaced bordered awards-press" id="{{ section.id }}">
  <div class="container">
    {% for block in section.blocks %}
    <div class="row {{block.type}}">
      {%- if block.type == "grid_3_3" -%}
      {%- assign image_1_url = block.settings.image_1 | img_url: '396x495' -%}
      {%- assign image_1_large_url = block.settings.large_image_1 | img_url: 'original' -%}
      {%- assign image_2_url = block.settings.image_2 | img_url: '396x495' -%}
      {%- assign image_2_large_url = block.settings.large_image_2 | img_url: 'original' -%}
      {%- assign image_3_url = block.settings.image_3 | img_url: '396x495' -%}
      {%- assign image_3_large_url = block.settings.large_image_3 | img_url: 'original' -%}
      <div class="col-sm-4">
        <a href="{{ image_1_large_url }}" class="lightbox" data-target="#press-awards-modal" target="_blank">
          <img class="img-responsive" src="{{ image_1_url }}" alt="{{ block.settings.image_1.alt | escape }}">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="{{ image_2_large_url }}" class="lightbox" data-target="#press-awards-modal" target="_blank">
          <img class="img-responsive" src="{{ image_2_url }}" alt="{{ block.settings.image_2.alt | escape }}">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="{{ image_3_large_url }}" class="lightbox" data-target="#press-awards-modal" target="_blank">
          <img class="img-responsive" src="{{ image_3_url }}" alt="{{ block.settings.image_3.alt | escape }}">
        </a>
      </div>
      {%- elsif block.type == "grid_4_8" -%}
      {%- assign image_url = block.settings.image | img_url: '790x450' -%}
      {%- assign image_large_url = block.settings.large_image | img_url: 'original' -%}
      <div class="col-sm-5 col-lg-4 has-content" data-preview="{{ image_large_url }}">
        <div class="content">
            <div class="content-inner">
            {%- assign icon_1_url = block.settings.icon_1 | img_url: 'original' -%}
            <img class="img-icon" src="{{ icon_1_url }}" alt="{{ block.settings.icon_1.alt | escape }}">
            <h4 class="Heading u-h4">{{block.settings.subheading_1 | escape }}</h4>
            <h3 class="Heading u-h2">{{block.settings.heading_1 | escape }}</h3>
          </div>
        </div>
        <div class="content">
          <div class="content-inner">
            {%- assign icon_2_url = block.settings.icon_2 | img_url: 'original' -%}
            <img class="img-icon" src="{{ icon_2_url }}" alt="{{ block.settings.icon_2.alt | escape }}">
            <h4 class="Heading u-h4">{{block.settings.subheading_2 | escape }}</h4>
            <h3 class="Heading u-h2">{{block.settings.heading_2 | escape }}</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-lg-8">
        <a href="{{ image_large_url }}" class="lightbox" data-target="#press-awards-modal" target="_blank">
          <img class="img-responsive" src="{{ image_url }}" alt="{{ block.settings.image.alt | escape }}">
        </a>
      </div>
      {%- elsif block.type == "grid_7_5" -%}
      {%- assign image_1_url = block.settings.image_1 | img_url: 'original' -%}
      {%- assign image_1_large_url = block.settings.large_image_1 | img_url: 'original' -%}
      {%- assign image_2_url = block.settings.image_2 | img_url: 'original' -%}
      {%- assign image_2_large_url = block.settings.large_image_2 | img_url: 'original' -%}
      <div class="col-sm-7">
        <a href="{{ image_1_large_url }}" class="lightbox" data-target="#press-awards-modal" target="_blank">
          <img class="img-responsive" src="{{ image_1_url }}" alt="{{ block.settings.image_1.alt | escape }}">
        </a>
      </div>
      <div class="col-sm-5">
        <a href="{{ image_2_large_url }}" class="lightbox" data-target="#press-awards-modal" target="_blank">
          <img class="img-responsive" src="{{ image_2_url }}" alt="{{ block.settings.image_2.alt | escape }}">
        </a>
      </div>
      {%- endif -%}
    </div>
    {% endfor %}
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id="press-awards-modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          {%- include 'icon' with 'close'-%}
        </button>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Press awards",
  "blocks": [{
    "type": "grid_3_3",
    "name": "Grid 3/3",
    "settings": [{
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1",
      "info": "396 x 495px jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "large_image_1",
      "label": "Overlay Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2",
      "info": "396 x 495px jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "large_image_2",
      "label": "Overlay Image 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3",
      "info": "396 x 495px jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "large_image_3",
      "label": "Overlay Image 3"
    }
    ]
  },
  {
    "type": "grid_4_8",
    "name": "Grid 4/8",
    "settings": [{
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "790 x 450px jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "large_image",
      "label": "Overlay Image"
    },
    {
      "type": "text",
      "id": "heading_1",
      "label": "Heading 1"
    },
    {
      "type": "text",
      "id": "subheading_1",
      "label": "Sub Heading 1"
    },
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "Icon 1"
    },
    {
      "type": "text",
      "id": "heading_2",
      "label": "Heading 2"
    },
    {
      "type": "text",
      "id": "subheading_2",
      "label": "Sub Heading 2"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Icon 2"
    }
    ]
  },
  {
    "type": "grid_7_5",
    "name": "Grid 7/5",
    "settings": [{
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "large_image_1",
      "label": "Overlay Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "large_image_2",
      "label": "Overlay Image 2"
    }
    ]
  }
  ],
  "presets": [{
    "category": "Text",
    "name": "Press awards"
  }]
}
{% endschema %}
