<div class="page-width icon-text">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="logo-bar{% if section.settings.title_enable %} logo-bar--large{% endif %}">
      {% for block in section.blocks %}
        <div class="logo-bar__item{% if section.settings.title_enable %} logo-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
          <div class="left-logo-text">
          {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: 'master' }}">
          {% else %}
            <img src="https://cdn.shopify.com/s/files/1/0034/6780/4770/files/icon.png?2786506787789510682" alt="icon_placeholder">
          {% endif %}
          </div>
          <div class="right-logo-text">
		  {% if block.settings.point-text != blank %}
          <p class="point_text">  {{ block.settings.point-text }}</p>
          {% endif %}
		  {% if block.settings.icon-text != blank %}
          <p class="icon_text">  {{ block.settings.icon-text }}</p>
          {% endif %}
          
		  {% if block.settings.icon-subtext != blank %}
          <p class="icon_subtext">  {{ block.settings.icon-subtext }}</p>
          {% endif %} 
            
          <p class="check_loyal">
             {{ block.settings.check_text }}
   		  </p>  
          {% unless customer %}
          <a href="/pages/my-account" class="rews_dign">Log In or Sign up to earn rewards</a>
          {% endunless %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Icon With Text",
    "class": "icon-text",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Section Heading"
      }
    ],
    "blocks": [
      {
        "type": "icon_txt",
        "name": "Icon with Text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
      	  {
            "type": "text",
            "id": "point-text",
            "label": "point-text" 
          },
      	  {
            "type": "text",
            "id": "icon-text",
            "label": "Heading" 
          },
      	  {
            "type": "text",
            "id": "icon-subtext",
            "label": "Sub Heading" 
          },
		  {
            "type": "text",
            "id": "check_text",
            "label": "Check Text" 
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "image With Text",
        "category": "Custom Code"
      }
    ]
  }
{% endschema %}
