<section class="section usp" style="background-color:{{section.settings.background_color}}">
  <div class="container">
    {%- if section.settings.heading -%}
    <h2 class="header">{{section.settings.heading | escape }}</h2>
    {%- endif -%}
    <div class="row">
      {%- for block in section.blocks -%}
      {%- if block.type != "header" -%}
      {%- assign image_url = block.settings.icon | img_url -%}
      <div class="col-sm-4">
        <img class="icon" src={{image_url}}/>
        <h3>{{block.settings.title | escape }}</h3>
        <p>{{block.settings.subtitle | escape}}</p>
      </div>
      {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "USP",
  "settings" : [
    {
      "type": "text",
      "id": "heading",
      "label": "Header"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#fbdcce"
    }
  ],
  "blocks": [
      {
        "type": "usp_item",
        "name": "Item",
        "settings": [
            {
              "type": "image_picker",
              "id": "icon",
              "label": "Icon",
              "info": "50 x 50px jpg recommended"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "text",
              "id": "subtitle",
              "label": "Sub Title"
            }
        ]
      }
  ],
  "presets": [
  {
    "category": "Text",
    "name": "USP"
  }
  ]
}
{% endschema %}
